streamlit 
requests
pillow
transformers
python-dotenv
huggingface_hub
fpdf
fpdf2
google-generativeai
streamlit-authenticator
PyYAML
deepgram-sdk
assemblyai
yt-dlp
ffmpeg-python
tensorflow==2.16.1
tf-keras
accelerate 
bitsandbytes
torch